<!DOCTYPE html>
<html>

<head>
     <base href="/jusmar/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MySystem| No encontrada</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="public/css/animate.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">P치gina no encontrada</h3>

        <div class="error-desc">
            La p치gina solicitada no est치 disponible, si ingres칩 manualmente la URL verifique que este correcta.
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="public/js/jquery-3.1.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>

</body>

</html>
