<!DOCTYPE html>
<html>
<head>

    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MySystem | Inicio</title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="public/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="public/css/dataTables.min.css" rel="stylesheet">

    <link href="public/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="public/css/animate.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
</head>

<body>

<div  id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">

                <li class="nav-header">
                    <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" height="48px" width="48px" src="public/img/profile.jpg" />
                             </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ session.nombres }}</strong>
                             </span> <span class="text-muted text-xs block">{{ session.nombre_rol }} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="profile.html">Perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="admin/salir">Salir</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Inicio</span></a>
                </li>
                {#<li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Inventario</span> <span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level collapse">
                        <li><a href="catalogo/articulos">Articulos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-ticket"></i> <span class="nav-label">Facturaci칩n</span> <span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level collapse">
                        <li><a href="venta/nueva">Nva. Venta</a></li>
                        <li><a href="venta/listar">Lista de ventas Realizadas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Compras</span> <span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level collapse">
                        <li><a href="compra/nueva">Nva. Compra</a></li>
                        <li><a href="compra/listar">Lista de Compras Realizadas</a></li>
                    </ul>
                </li>
                {% if session.id_rol == 1  %}
                <li>
                    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Cat치logos</span> <span class="fa arrow"></span></a>

                    <ul class="nav nav-second-level collapse">
                        <li><a href="catalogo/personal">Personal</a></li>
                        <li><a href="catalogo/usuarios">Usuarios</a></li>
                        <li><a href="catalogo/unidadmedida">Unidad Medida</a></li>
                        <li><a href="catalogo/presentacion">Presentacion</a></li>
                    </ul>
                </li>
                {% endif %}

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="graph_flot.html">Flot Charts</a></li>
                        <li><a href="graph_morris.html">Morris.js Charts</a></li>
                        <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                        <li><a href="graph_chartjs.html">Chart.js</a></li>
                        <li><a href="graph_chartist.html">Chartist</a></li>
                        <li><a href="c3.html">c3 charts</a></li>
                        <li><a href="graph_peity.html">Peity Charts</a></li>
                        <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                    </ul>
                </li>#}
                {% if session.sistema=='loteria' %}
                    <li>
                        <a href="loteria/venta"><i class="fa fa-diamond"></i> <span class="nav-label">Venta Ticket</span></a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-ticket"></i> <span class="nav-label">Reportes</span> <span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level collapse">
                            <li><a href="venta/nueva">Nva. Venta</a></li>
                            <li><a href="venta/listar">Lista de ventas Realizadas</a></li>
                        </ul>
                    </li>

                    {% elseif session.sistema =='fonda' %}
                        <li>
                            <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Inventario</span> <span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level collapse">
                                <li><a href="catalogo/articulos">Articulos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-ticket"></i> <span class="nav-label">Facturaci칩n</span> <span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level collapse">
                                <li><a href="venta/nueva">Nva. Venta</a></li>
                                <li><a href="venta/listar">Lista de ventas Realizadas</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Compras</span> <span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level collapse">
                                <li><a href="compra/nueva">Nva. Compra</a></li>
                                <li><a href="compra/listar">Lista de Compras Realizadas</a></li>
                            </ul>
                        </li>
                        {% if session.id_rol == 1  %}
                            <li>
                                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Cat치logos</span> <span class="fa arrow"></span></a>

                                <ul class="nav nav-second-level collapse">
                                    <li><a href="catalogo/personal">Personal</a></li>
                                    <li><a href="catalogo/usuarios">Usuarios</a></li>
                                    <li><a href="catalogo/unidadmedida">Unidad Medida</a></li>
                                    <li><a href="catalogo/presentacion">Presentacion</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="graph_flot.html">Flot Charts</a></li>
                                <li><a href="graph_morris.html">Morris.js Charts</a></li>
                                <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                                <li><a href="graph_chartjs.html">Chart.js</a></li>
                                <li><a href="graph_chartist.html">Chartist</a></li>
                                <li><a href="c3.html">c3 charts</a></li>
                                <li><a href="graph_peity.html">Peity Charts</a></li>
                                <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                            </ul>
                        </li>

                {% endif %}
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Bienvenido al sistema </span>
                        <span>{{ "now"|date("F jS Y g:ia") }}</span>
                    </li>
                    <li>
                        <a href="admin/salir">
                            <i class="fa fa-sign-out"></i> Salir
                        </a>
                    </li>
                </ul>

            </nav>
        </div>

        {% block content %}{% endblock %}
        <div class="footer">
            <div class="pull-right">
                oskaar24@yahoo.es
            </div>
            <div>
                <strong>Development by</strong> Oscar Mart&iacute;nez S&aacute;nchez &copy; 2018
            </div>
        </div>

</div>

<!-- Mainly scripts -->
<script src="public/js/jquery-3.1.1.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/jquery.dataTables.min.js"></script>

<script src="public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="public/js/inspinia.js"></script>
<script src="public/js/plugins/toastr/toastr.min.js"></script>


<script src="public/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="public/js/jquery.mask.js"></script>
<script src="public/js/admin/core.js"></script>

{% block footer %}
{% endblock %}


</body>

</html>
